CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Vagrant
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

# PROJECT SPECIFICS

## kubeadm_vms